.js-group-name-and-path{ data: group_name_and_path_app_data(@group) }
  = f.hidden_field :name, data: { js_name: 'name' }
  = f.hidden_field :path, maxlength: ::Namespace::URL_MAX_LENGTH, pattern: Gitlab::PathRegex::NAMESPACE_FORMAT_REGEX_JS, data: { js_name: 'path' }
  = f.hidden_field :parent_id, data: { js_name: 'parentId' }
