- breadcrumb_title _("CI/CD")
- page_title _("CI/CD")
- @content_class = "limit-container-width" unless fluid_layout

%section.settings.no-animate#js-ci-cd-variables{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    = render 'admin/application_settings/ci/header', expanded: expanded_by_default?
  .settings-content
    - if ci_variable_protected_by_default?
      %p.settings-message.text-center
        - link_start = '<a href="%{url}">'.html_safe % { url: help_page_path('ci/variables/index', anchor: 'protected-cicd-variables') }
        = s_('Environment variables on this GitLab instance are configured to be %{link_start}protected%{link_end} by default.').html_safe % { link_start: link_start, link_end: '</a>'.html_safe }
    #js-instance-variables{ data: { endpoint: admin_ci_variables_path, group: 'true', maskable_regex: ci_variable_maskable_regex, protected_by_default: ci_variable_protected_by_default?.to_s} }

%section.settings.as-ci-cd.no-animate#js-ci-cd-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Continuous Integration and Deployment')
    = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Customize CI/CD settings, including Auto DevOps, shared runners, and job artifacts.')
  = render 'ci_cd'

= render_if_exists 'admin/application_settings/required_instance_ci_setting', expanded: expanded_by_default?

= render_if_exists 'admin/application_settings/package_registry', expanded: expanded_by_default?

- if Gitlab.config.registry.enabled
  %section.settings.as-registry.no-animate#js-registry-settings{ class: ('expanded' if expanded_by_default?) }
    .settings-header
      %h4
        = _('Container Registry')
      = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
        = expanded_by_default? ? _('Collapse') : _('Expand')
      %p
        = _('Various container registry settings.')
    .settings-content
      = render 'registry'

- if Feature.enabled?(:runner_registration_control)
  %section.settings.as-runner.no-animate#js-runner-settings{ class: ('expanded' if expanded_by_default?) }
    .settings-header
      %h4
        = s_('Runners|Runner registration')
      = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
        = expanded_by_default? ? 'Collapse' : 'Expand'
    .settings-content
      = render 'runner_registrars_form'
